# dev requirements
# with pytorch 2.1 setupPyFakeFs throws "AttributeError: torch._functorch.config.os does not exist"
torch==2.0
torchaudio
torchvision
Pillow
numpy
einops
joblib
pyfakefs
timm
kappaschedules
tqdm