# dev requirements
# with pytorch 2.1 setupPyFakeFs throws "AttributeError: torch._functorch.config.os does not exist"
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
Pillow
numpy
einops
joblib
pyfakefs
timm
kappaschedules
tqdm